.card {
  border-radius: 1rem;
  overflow: hidden;
  padding: 0em 2em;
  margin: 2rem;
  
  img {
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
  }

  .cardContent {
    padding: 1rem;
    background-color: #9478a7;
    color: #fff;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    border-radius: 0 0 1rem 1rem;

    .brand {
      color: #ffffff98;
      font-weight: 100;
    }

    .description {
      padding-bottom: 1rem;
      font-weight: 100;
    }

    .price {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
}